section{
    height: 910px;

}
.conteudo{
    height: 100%;
    width: 85%;
}

.tituloPg{
    height: 10%;
    width: 100%;
    text-align: center;
    line-height: 75px;
    font-family: SourceSansRegular;
    font-size: 33px;
    
}

.content{
    height: 90%;
    width: 100%;

}

.divForm{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 90%;
    /*background-color: blue;*/
}

form{
    height: 100%;
    width: 100%;
}

.form{
    height: 80%;
    width: 50%;

    float: left;

}

.form:first-of-type{
    border-right: 1px solid #ccc;
}

.form:not(:first-of-type){
    width: 49.9%;
}

.botao{
    margin-top: 30px;
    height: 8%;
    width: 150px;
    margin-left: 660px;

    float: left;
}

.botao input{
    height: 100%;
    width: 100%;
    background-color: #fff;
    border: 2px solid #4682b4;
    border-radius: 8px;
    color:#4682b4;
    font-family: RalewayRegular;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;

}

.botao input:hover{
    background-color: #4682b4;
    border: 2px solid #ccc;
    color:#fff;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
}

.form table{
    margin-top: 40px;
    height: 80%;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.input{
    border-bottom: 1px solid #ccc;
}


.input input[type="file"]{
    float: left;
    margin-top: 30px;
}

.form table label{

    font-family: SourceSansRegular;
    font-size: 18px;

}

.imgPreview1{
    height:90px;
    width: 200px;
    margin-left: 30px;
    float: left;
}
.imgPreview2{
    height:100px;
    width: 100px;
    margin-left: 30px;
    float: left;
}
.imgPreview3{
    height:100px;
    width: 100px;
    margin-left: 30px;
    float: left;
}
.imgPreview4{
    height:130px;
    width: 100px;
    margin-left: 30px;
    float: left;
}
.imgPreview5{
    height:130px;
    width: 100px;
    margin-left: 30px;
    float: left;
}
.imgPreview6{
    height:130px;
    width: 100px;
    margin-left: 30px;
    float: left;
}
.imgPreview7{
    height:130px;
    width: 100px;
    margin-left: 30px;
    float: left;
}
.imgPreview8{
    height:130px;
    width: 100px;
    margin-left: 30px;
    float: left;
}

img{
    height: 100%;
    width: 100%;
}
